%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [
%   {dirsize,       ".*", {git, "git://github.com/StoneCypher/dirsize.git",             {branch, "master"} }},
%   {sc_irc,        ".*", {git, "git://github.com/StoneCypher/sc_irc.git",              {branch, "master"} }},
%   {sc_erlisp,     ".*", {git, "git://github.com/StoneCypher/sc_erlisp.git",           {branch, "master"} }},
%   {sc_pubsub,     ".*", {git, "git://github.com/StoneCypher/sc_pubsub.git",           {branch, "master"} }},
%   {sc_metrics,    ".*", {git, "git://github.com/StoneCypher/sc_metrics.git",          {branch, "master"} }},
%   {sc_nps,        ".*", {git, "git://github.com/StoneCypher/sc_nps.git",              {branch, "master"} }},
    {deepak_chopra, ".*", {git, "git://github.com/StoneCypher/DeepakChopra_Erlang.git", {branch, "master"} }},
    {sc_list,       ".*", {git, "git://github.com/StoneCypher/sc_list.git",             {branch, "master"} }},
    {sc_math,       ".*", {git, "git://github.com/StoneCypher/sc_math.git",             {branch, "master"} }},
    {crap_json,     ".*", {git, "git://github.com/StoneCypher/crap_json.git",           {branch, "master"} }},
    {proper,        ".*", {git, "git://github.com/manopapad/proper.git",                "master"           }}
] }.

%% {dev_only_deps, [...]}

{use_edown,     true}.
{cover_enabled, true}.
{erl_opts,      [ warn_unused_vars,     warn_export_all,   warn_shadow_vars,   warn_unused_import, 
                  warn_unused_function, warn_bif_clash,    warn_unused_record, warn_deprecated_function,
                  warn_obsolete_guard,  strict_validation, warn_export_vars,   warn_exported_vars,
                  warn_untyped_record,  warnings_as_errors ]}.
{edoc_opts,     [ {todo, true}, {packages, true}, {subpackages, true},
                  {source_path, [
                    "deps/sc_list/src", "deps/sc_math/src", "deps/crap_json/src", "deps/deepak_chopra/src"

                    % "deps/sc_erlisp/src", "deps/sc_irc/src", "deps/sc_pubsub/src",
                    % "deps/sc_metrics/src", "deps/sc_nps/src", "deps/dirsize/src"
                    % perceptron, erlurl, bucket_cache, egorscan, sc_bizdev, centos_erl,
                  ] } 
                ] }.
